{{- /*gotype: github.com/blackmarllbor0/template_todo_server_in_go/models.Post*/ -}}
<form role="form" class="d-flex flex-column align-items-center gap-4 mt-md-5" method="POST" action="/login">
    <div>
        <label class="row fs-3">
            Username
            <input type="text" class="form-control p-2" id="username" name="username"  />
        </label>
    </div>
    <div>
        <label class="row fs-3">
            Password
            <input type="password" class="form-control p-2" id="password" name="password"  />
        </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>